
<tr class="flights">
    <td><%= flight.flightDate %></td>
    <td><%= flight.departs.strftime("%H:%M") %></td>
    <td><%= flight.origin %></td>
    <td><%= flight.destination %></td>
    <td><%= link_to 'History', flight_path(flight) %></td>
  </tr>