
<tr class="flights">
    <td><%= flight.observationDate %></td>
    <td><%= flight.flightDate %></td>
    <td><%= flight.departs %></td>
    <td><%= flight.origin %></td>
    <td><%= flight.destination %></td>
    <td><strong>$<%= flight.price %></strong></td>
  </tr>

