<% referenceFlight = Flight.find(:first, :conditions => { :origin => flight.origin,
                                                          :departs => flight.departs,
                                                          :destination => flight.destination,
                                                          :flight_date => flight.flight_date,
                                                          :airline => flight.airline
                                                        }) %>
                                                                                                             
<tr class="flights">
    <td><%= referenceFlight.flight_date %></td>
    <td><%= referenceFlight.departs.strftime("%H:%M") %></td>
    <td><%= referenceFlight.origin %></td>
    <td><%= referenceFlight.destination %></td>
    <td><%= link_to 'History', flight_path(referenceFlight) %></td>
  </tr>